body {
  font-family: "Courier New", Courier, monospace;
  background-image: url("bg.jfif");
  font-size: 30px;
}
button {
  font-family: cursive;
  background-color: #45337f;
  color: black;
  margin: 5px;
  font-size: 100%;
  border-radius: 5px;
}
button:hover {
  background-color: #43348f;
}
.box1 {
  height: 200%;
  font-size: 60px;
  width: 30%;
  margin-top: 5vh;
  margin-left: 35vw;
  background-color: blue;
}
.text1 {
  font-size: 49%;
}
body {
  font-family: "Courier New", Courier, monospace;
  background-image: url("bg.jfif");
  font-size: 30px;
}
button {
  font-family: cursive;
  background-image: linear-gradient(to bottom right, blue, black);

  color: black;
  margin: 5px;
  font-size: 100%;
  border-radius: 5px;
}
button:hover {
  background-image: linear-gradient(to bottom right, blue, rgb(235, 235, 236));
}
.box1 {
  height: 200%;
  font-size: 60px;
  width: 30%;
  margin-top: 5vh;
  margin-left: 35vw;
  background-image: linear-gradient(to bottom right, blue, black);
}
.text1 {
  font-size: 49%;
}
div {
  background-color: black;
  color: aliceblue;
  text-align: center;
  font-weight: bold;
}
.input1 {
  height: 5rem;
  margin-top: 13vh;
}
.guessBox {
  padding: 0%;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 25px;
  margin-top: 0.8em;
  height: 2em;
  width: 8rem;
  font-weight: 1000;
}
.check {
  margin-top: 5px;
  margin-left: 45vw;

  font-size: 30px;
}
.box2 {
  margin-top: 20px;
  background-color: rgb(0, 0, 0);
  margin-left: 33vw;
  padding-right: 5%;
}
.labelscore {
  margin-top: 3px;
  margin-left: 30vw;
  font-size: 24px;
}
.labelhscore {
  margin-top: 3px;
  margin-left: 30vw;
  font-size: 24px;
}
.message {
  text-align: center;
}

